@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

/* Focus: thin brown bottom line */
input:focus {
  border-bottom-color: #421d08; 
}

/* Textarea focus: thin brown border */
textarea:focus {
  border-color: #421d08; 
}

/* input error → red bottom line */
input:has(+ p.text-red-500) {
  border-bottom-color: #ef4444 !important; 
}

/* textarea error → red box */
textarea:has(+ p.text-red-500) {
  border-color: #ef4444 !important;
}
/* ============================= */
/* FLOWING GRADIENT BORDER */
/* ============================= */

.btn-flow-border {
  position: relative;
  padding: 2px;
  border-radius: 10px;
  background: #6b7280; /* gray border default */
}

.btn-flow-border span {
  display: block;
  background: black;
  color: white;
  padding: 12px 32px;
  border-radius: 8px;
}

/* Hover Gradient */
.btn-flow-border:hover {
  background: linear-gradient(
    90deg,
    #ff00cc,
    #3333ff,
    #00ffe0,
    #ff00cc
  );
  background-size: 300% 100%;
  animation: flowBorder 3s linear infinite;
}

/* ONE DIRECTION FLOW */
@keyframes flowBorder {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 300% 0%;
  }
}